.page__wrap {
}
.page__row {
    display: flex;
    gap: 10px;
}
.page__item {
    flex: 1 1 auto;
}
.item-stream {
    flex: 1 1 20%;
    padding-left: 10px;
}
.item-stream__canvas {
}
canvas {
    /* width: 100%; */
    width: auto;
    height: auto;
    transform: scaleX(1) scaleY(1);
    max-width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    rotate: 0deg;
    margin-bottom: 10px;
}
.item-stream__settings {
}

.transform-buttons {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.transform-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    padding: 5px;
}
.transform-button svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-color);
}

.rotates-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}
.rotate-button {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.rotate-button svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.slider-container {
}
.item-video {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item-video__canvas {
}
.item-video__buttons {
    z-index: 2;
}
.item-video__button {
    color: var(--primary-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(25, 118, 210, 0.5);
}
.item-video__button:hover {
    opacity: 1;
    text-decoration: none;
    background-color: rgba(25, 118, 210, 0.08);
    border: 1px solid var(--primary-color);
}

.navigation-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.recording-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-record {
    color: #fff;
    background-color: rgb(46, 125, 50);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.btn-record._recording {
    background-color: rgb(211, 47, 47);
}
.navigation-buttons {
}

/* Общий стиль для контейнера слайдера */
.slider-container {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column-reverse;
}

.slider-container label {
    margin-left: 10px;
    font-size: 13px;
    color: #fff;
}

.slider-container span {
    margin-left: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
}

/* Стиль для самого слайдера */
.noUi-target {
    width: 100%;
    height: 7px; /* Тонкая полоска */
    background: #e0e0e0; /* Цвет фона полоски */
    border-radius: 2px; /* Закругление углов */
    position: relative;
    /* margin: 0 10px; */
    box-shadow: none;
    border: 0;
}

/* Стиль для активной части слайдера (синяя полоска) */
.noUi-connect {
    background: #007bff; /* Синий цвет активной части */
    border-radius: 2px;
}

/* Стиль для ползунка (круглый синий) */
.noUi-horizontal .noUi-handle {
    width: 20px; /* Размер ползунка */
    height: 20px; /* Размер ползунка */
    background: #007bff; /* Синий цвет ползунка */
    border-radius: 50%; /* Круглая форма */
    border: none; /* Убираем рамку */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Легкая тень для объема */
    cursor: pointer;
    top: 50%;
    transform: translateY(-40%); /* Центрируем ползунок по вертикали */
}
.noUi-handle:after, .noUi-handle:before {
    display: none;
}

/* При наведении на ползунок */
.noUi-handle:hover {
    background: #0056b3; /* Темно-синий цвет при наведении */
}

/* Фокус на ползунке */
.noUi-handle:focus {
    outline: none; /* Убираем стандартный фокус */
    background: #0056b3; /* Темно-синий цвет при фокусе */
}

.startStopButton {
    display: none;
}
